.main {
    margin-top: 3rem;
    h2 {
        font-size: 5rem;
        text-align: center;
        color: $naranja-claro;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
    }
}

.boton-end {
    display: flex;
    justify-content: flex-end;
    .botones {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

.contenedor-botones {
    margin: 10rem auto 10rem auto;
    .botones {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .oculto {
        display: none;
    }
}