.opciones {
    button {
        background-color: $naranja-normal;
        font-size: 2.5rem;
    }
}

.marcas {
    form {
        border-radius: 1.3rem;
        min-height: 6rem;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        padding: 1rem;
        select {
            background-color: $naranja-normal;
            border-radius: .6rem;
            border: none;
            font-size: 2rem;
            &:hover {
                border-radius: 2rem;
            }
            option {
                text-align: center;
            }
        }
    }
}